*{
    padding: 0;
    margin: 0;
}

.parso{
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-between;
    padding-left: 30px;
}

.logo i{
    position: relative;
    font-size: 35px;
}

.logo h2{
    position: absolute;
    top: -5px;
    left: 55px;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 100;
}

.logo a{
    color: black;
}

.parso nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
    font-family: sans-serif;
    margin-right: 45px;    
}

.parso nav a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.text-pier{
    display: flex;
    flex-direction: row;
    margin: 40px 150px;
}

.text-pier h1{
    font-size: 100px;
    padding: 30px;
}

.text-pier div{
    width: 900px;
    margin-top: 70px;
    padding: 20px 40px;
    border-left: 2px solid gray;
    height: 120px;
}

.text-pier h2{
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-pier p{
    font-family: sans-serif;
    color: gray;
    line-height: 25px;
    font-weight: lighter;
}

.img-pier{
    display: flex;
    justify-content: end;
}

.img-pier img{
    width: 1200px;
    margin-bottom: 150px;
}

.urban{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.img img{
    width: 565px;
}

.text{
    margin: 150px 0 0 65px;
}

.title{
    font-size: 52px;
    margin-bottom: 25px;
    width: 450px;
    font-family: serif;
}

.parrafo{
    font-size: 16px;
    color: gray;
    line-height: 25px;
    width: 520px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.text i{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    margin-bottom: 20px;
}

.parrafo2{
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    width: 490px;
}

.double{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 200px;    
}



.restitle{
    font-size: 52px;
    margin-bottom: 25px;
    width: 450px;
    font-family: serif;
}

.restaurant p{
    font-size: 18px;
    color: gray;
    line-height: 30px;
    width: 500px;
    font-family: sans-serif;
    margin-bottom: 45px;
    margin-right: 5px;
}

.restaurant a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
}

.r-img{
    margin-top: 45px;
}

.r-img img{
    position: absolute;
}


.coffee{
    display: flex;
    flex-direction: column-reverse;
}

.w-img img{
    width: 470px;
    margin-left: -37px;
}

.w-text{
    margin-left: 120px;
    margin-top: 50px;
}

.woman{
    font-family: sans-serif;
    margin-bottom: 20px;
}

.w-text p{
    color: gray;
    line-height: 30px;
    font-family: sans-serif;
    width: 210px;
    margin-bottom: 40px;
}

.w-text a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
    position: relative;
}

.w-text hr{
    position: absolute;
    width: 50px;
    top: 8px;
    left: 100px;
}

.restaurant a{
    position: relative;
}

.restaurant hr{
    position: absolute;
    width: 45px;
    top: 8px;
    left: 130px;
}

